.hide {
    display: none;
}

.show {
    display: block;
}

body {
    background-color: #c9dff145;
}

#myForm,
.table {
    width: 50%;
    margin: 0 auto;
}

#myForm {
    padding: 10px;
}

.table tbody {
    background-color: white;
}

.table td,
.table th {
    border: 1px solid #7f8184;
}

#adress {
    margin-left: 20px;
}